{% extends "./main.html" %}

{% block titulo %}Ingresos | Gimnasio{% endblock %}

{% block header %}Ingresos{% endblock%}
{% block content %}
<div class="col-lg-12">
    <form role="form" method="post" action="" name="informeIngresosForm">
        <div class="row">
            <div class="col-md-4">{{ form.fechaDesde.label }}:</div>
            <div class="col-md-8">{{ form.fechaDesde(class='datepicker',required=true)}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form.fechaHasta.label }}:</div>
            <div class="col-md-8">{{ form.fechaHasta(class='datepicker',required=true)}}</div>
        </div>
        <div class="row">
            <input type="submit" value="Buscar" class="btn btn-primary center-block"/>
        </div>
    </form>
    {% if cuotas %}
        {% if cuotas.count()>0 %}
        <div class="col-md-4 alert alert-success" role="alert">
            <ul>
                <li>Ingresos = ${{total}}</li>
                <li>Cantidad cuotas = {{cuotas.count()}}</li>
                <li>Valor promedio cuota = {{total/(cuotas.count())}}</li>
            </ul>
        </div>
        <table width="100%" class="table table-striped table-bordered table-hover" id="tblCuotas">
            <thead>
            <tr>
                <th>Fecha Pago</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Monto</th>
            </tr>
            </thead>
            <tbody>
            {% for cuota in cuotas %}
            <tr class="odd gradeX">
                <td>{{cuota.fecha_pago}}</td>
                <td>{{cuota.dni_socio}}</td>
                <td>{{cuota.socio.nombre}}</td>
                <td>{{cuota.socio.apellido}}</td>
                <td>${{cuota.monto}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else  %}
        <div class="alert alert-danger" role="alert">
            No existen cuotas abonadas en el rango de fechas especificado
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}