{% extends "./main.html" %}

{% block titulo %}Estado Socio | Gimnasio{% endblock %}

{% block header %}Estado Socio{% endblock%}
{% block content %}
<div class="col-lg-6">
    <form role="form" method="post" action="" name="altaSocioForm">
        <div class="row">
            <div class="col-md-4">{{ form.dni.label }}:</div>
            <div class="col-md-4">{{ form.dni(class_="form-control",required=true, maxlength=9, mixlength=7,pattern=".{7,9}") }}</div>
        </div>
        <div class="row">
            <input type="submit" value="Buscar" class="btn btn-primary center-block"/>
        </div>
    </form>

     {% if socio %}
        <div class="row">
            <div class="col-md-4">{{ form.apenom.label }}:</div>
            <div class="col-md-4">{{ form.apenom(class='form-control',required=true,readonly=true) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form.telefono.label }}:</div>
            <div class="col-md-4">{{ form.telefono(class='form-control',required=true,readonly=true) }}</div>
        </div>
        <br/>
        <table width="100%" class="table table-striped table-bordered table-hover" id="tblCuotas">
            <thead>
            <tr>
                <th>Fecha desde</th>
                <th>Fecha hasta</th>
                <th>Monto</th>
            </tr>
            </thead>
            <tbody>
            {% for cuota in socio.cuotas %}
            <tr class="odd gradeX">
                <td>{{cuota.fecha_desde}}</td>
                <td>{{cuota.fecha_hasta}}</td>
                <td>${{cuota.monto}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
